
.container{
   width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.top-bar{
    padding-top: 4px;
    padding-bottom: 0px;
    height: 60px;
    text-align: center;
    background-color:rgb(238, 238, 238)
    
    
}

.p{
  width: 1500px;
  text-align: center;
  font-size: 13px;
}

.color{
    color: blue;
}

.fontsize{
    font-size:  13px;
    
}


.gradient{
    margin-right: 3px;
    background:rgb(232, 232, 232) 
    
    
}

.btn{
    text-decoration: none;
    color: black;
    border: 1px solid;
    font-size: 15px;
    width: 100px;
    height: auto;
}

.content{
    margin-top: 2px;
    text-align: center;
}

.box1{ 
    width: 470px;
    height: 65px;
    background-color: rgb(126, 229, 218);
    float: inline-start;
    margin-right: 2px;
    padding-top: 10px;
   
   
}
   

.box2{
    background-color: rgb(112, 204, 194);
    width: 288px;
    height: 70px;
    float:left;
    margin-right: 2px;
    font-size: small;
    padding-top: 5px;
}

.box3{
    width: 558px;
    height: 72px;
    background-color: rgb(98, 179, 170);
    float: inline-end;
    padding-top: 3px;
    

}


